#maintenance-animation {
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#follow-us:hover {
    filter: brightness(.8);
    transform: scale(.98);
    transform-origin: center;
}

#cursor-pointer {
  fill: #22222268;
}

#layer2 {

  translate: 23px 75px !important;
  transform: scale(.8) !important;

  @media only screen and (min-width: 800px) {
    translate: 23px 70px !important;
  }  

  @media only screen and (min-width: 1200px) {
    translate: 28px 65px !important;
    transform: scale(.7) !important;
  }
  
}
