@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 1em 0;
}

.intro {
    background-color: #e7e7e7;
}

.accordion-body {
  padding: unset;
}

.accordion-header {
  padding: unset !important;
}

//checkbox
.checkboxes {
    padding: 1em;
}
 /* Customize the label (the container) */
 .container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px #f9b004 solid;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #82c8c8;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.portugal-map {
    width: 90vw;
    margin: 0 auto;
    padding: 2em 0;

    svg {     
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.portugal-regions-map {
  width: 90vh;
  margin: 0 auto;
  padding: 2em 0;

  svg {     
      width: 100%;
  }

  img {
      width: 100%;
      height: auto;
  }  
  
  @media only screen and (max-width: 600px) {
    width: 90vw;

    svg {     
      height: 100%;
    }
  }
}


//HOVER_BEHAVIOUR
#portugal-map-final {
  a:hover {
    filter: brightness(.9);
  }
  a:active {
    filter: brightness(.7);
  }
}

#portugal-map-v1 {
  #all-you-can-surf:hover, #dreamsea-centro:hover {
      filter: brightness(.7);
  }
}


//FLOAT_ANIMATION
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-3px);
	}
	100% {
		transform: translatey(0px);
	}
}

#portugal-map-v1 {
  #all-you-can-surf {
      animation: float 3s ease-in-out infinite;
    }

    #dreamsea-centro {
        animation: float 3s ease-in-out infinite;
        animation-delay: 2s;
  }
}

//PULSE ANIMATION

@keyframes pulse-animation {
  0% {
		opacity: 0;
	}

	50% {
	    opacity: 1;
	}

	100% {
	    opacity: 0;
		}
}

@keyframes pulse-animation-2 {
  0% {
		stroke-width: .99;
    stroke: black;
	}

	50% {
    stroke-width: .468;
    stroke: white;
	}

	100% {
    stroke-width: .99;
    stroke: black;
		}
}

.pulse-1 {
  animation: pulse-animation 2s infinite;
}
.pulse-2 {
  animation: pulse-animation 2s infinite;
  animation-delay: 250ms;
}
.pulse-3 {
  animation: pulse-animation 2s infinite;
  animation-delay: 500ms;
}


.pulse-4 {
  animation: pulse-animation-2 3s infinite;
}
.pulse-5 {
  animation: pulse-animation-2 3s infinite;
  animation-delay: 250ms;
}
.pulse-6 {
  animation: pulse-animation-2 3s infinite;
  animation-delay: 500ms;
}
.pulse-7 {
  animation: pulse-animation-2 3s infinite;
  animation-delay: 750ms;
}